@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");

.popular {
  position: relative;
  top: 80px;
  left: 34px;
  width: 96%;
}

.popular-head {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  color: rgb(38, 38, 38);
}

.electronics,
.jwellery,
.men,
.women {
    cursor: pointer;
  width: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

}
.jwellery,
.men,
.women {
  margin-left: 40px;
}

.popular-items {
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

img{
  transition: background-color 0.3s ease;

}