.Deals {
  position: relative;
  top: 160px;
  background-color: #f6f5f5;
}
.deals-head {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  color: rgb(38, 38, 38);
}

.deal-items {
  display: grid;
  padding-left: 90px;
  padding-right: 90px;
  grid-template-columns: repeat(auto-fill, 250px);
  /* grid-template-rows: repeat(auto-fill, 450px); */
  grid-gap: 10px; /* adjust as needed */
  justify-content: center;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
  margin-top: 15px;
}

.card-img {
  cursor: pointer;
  width: 130px;
  height: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 50px;
  transition: all .5s;
  border-radius: 15px;
  transition: all .5s;

}

.card-price {
  display: flex;
  align-items: center;
}

.card-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.card-category {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.mrp {
  margin-left: 8px;
  text-decoration: line-through;
  font-weight: 600;
  color: rgb(72, 72, 72);
}

.discount {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.view{
  cursor: pointer;
  position: relative;
  bottom: 145px;
  border: none;
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 6px;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.card-data{
  position: relative;
  text-align: left;
}

.card-img-data:hover .view{
  opacity: 1;
  visibility: visible;
}

.card-img-data:hover .card-img{
  filter: brightness(75%);
}

.card-img-data{
  height: 250px;
}