@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poster-area {
  background: rgb(233, 147, 23);
  background: radial-gradient(
    circle,
    rgba(233, 147, 23, 1) 0%,
    rgba(233, 125, 23, 1) 87%
  );
  position: relative;
  border-radius: 20px;
  margin-left: 220px;
  margin-right: 220px;
  top: 40px;
  padding: 10px;
  padding-bottom: 40px;
  padding-left: 40px;
  text-align: left;
}

.poster-head {
  font-size: 39px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.poster-desc {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  width: 28%;
  color: white;
}

.poster-data {
  position: relative;
  bottom: 18px;
}

.browse-btn {
  background-color: white;
  border-radius: 40px;
  color: rgb(233, 147, 23);
  border: none;
  box-shadow: rgba(50, 50, 93, 0.13) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.088) 0px 8px 16px -8px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 15px;
}

.delivery {
  position: absolute;
  width: 400px;
  right: 250px;
  top: 1px;
animation: float .6s ease-out;
}

@keyframes float {

  0%{
    top: 50px;
    opacity: 0;
  }
  
  100%{
    top: 1px;
    opacity: 1;
  }
  
}
