.navbar {
  position: fixed;
  width: 100%;
  background-color: #1c2228;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-bottom: 2px solid #455b6e;
}

a {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

.search-img {
  width: 30px;
}

.search-btn {
  position: relative;
  background-color: #e99317;
  border: none;
  outline: none;
  height: 46px;
  width: 52px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 170px;
}

.search-box {
  height: 40px;
  width: 325px;
  color: white;
  outline: none;
  padding-left: 10px;
  border: 2px solid #455b6e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #2d3b47;
}

.search-box::placeholder {
  color: white;
}

.right-section {
  display: flex;
  align-items: center;
  width: 300px;
}

.wishlist {
  width: 28px;
}

.cart {
  width: 28px;
  padding: 12px;
  margin-left: 5px;
  border-radius: 9px;
  filter: invert(1);
}

.notify {
  width: 28px;
  margin-left: 20px;
}

.default {
  margin-left: 30px;
  width: 44px;
}
.list-count {
  color: white;
  position: relative;
  bottom: 12px;
  right: 10px;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background-color: #e99317;
  border-radius: 50px;
}
