.orders-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f6f5f5;
  padding-top: 120px;
  padding-bottom: 120px;
  height: fit-content;
}

.order {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 25px;
  border-radius: 10px;
  width: 600px;
}

.order-img {
  width: 50px;
}

.order-text {
  margin-left: 32px;
}

.order-head {
  margin-bottom: 2px;

  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.order-category {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(50, 50, 50);
  font-size: 12px;
}

.nav-link2 {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

.order-done {
  width: 25px;
}

.order-success {
  display: flex;
  align-items: center;
  color: #013d01;
  font-family: "Poppins";
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 15px;
  width: fit-content;
  background-color: #0cd80c62;
}
