@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Poppins:wght@600&display=swap");

.product-page {
  background-color: #f6f5f5;
  height: 100vh;
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
}

.product-dataa {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 180px;
  width: 75%;
}

.product-details {
  padding-left: 25px;
  width: 650px;
}

.item-rating {
  display: flex;
  align-items: center;
}

.rating-no {
  font-family: "Poppins";
  padding-left: 5px;
}

.item-img {
  width: 350px;
  max-height: 460px;
}

.item-title {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
}

.item-desc {
  font-family: "Poppins";
  font-size: 15px;
}

.img-style {
  background-color: white;
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 12px;
}

.horizontal {
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.3;
}

.options {
  text-align: center;
  display: flex;
  position: relative;
  right: 15px;
  top: 8px;
  margin: 0;
}

.choose {
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
}

.size {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
  padding: 12px;
  border: 2px solid #e99317;
  border-radius: 6px;
  margin-left: 15px;
  height: 32px;
  width: 32px;
  transition: all 0.2s ease;
}

.size:hover {
  background-color: #e99317;
  color: white;
}

.size-clicked {
  background-color: #e99317;
  color: white;
}

.buy-btn {
  cursor: pointer;
  height: 50px;
  padding: 5px;
  border: none;
  background-color: rgb(255, 149, 0);
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
  font-size: 18px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
  transition: all 0.13s;

}

.add-cart-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  padding: 5px;
  border: none;
  background-color: #1c2228;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
  font-size: 18px;
  border-radius: 7px;
  margin-left: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
  transition: all 0.13s;
}

.cart-img {
  width: 30px;
}

.buy-btn:hover,
.add-cart-btn:hover {
  transform: scale(1.06);
}

.buy-btn:active,
.add-cart-btn:active {
  transform: scale(1);
}
