@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Poppins:wght@600&display=swap");

.product-page {
  background-color: #f6f5f5;
  height: 100vh;
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
}

.product-data {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 180px;
  width: 75%;
}

.product-details {
  padding-left: 25px;
  width: 650px;
}

.item-img {
  width: 350px;
}

.item-title {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

.item-desc {
    font-family: "Poppins";
    font-size: 15px;
}

.img-style {
  background-color: white;
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 12px;
}