.App {
  position: relative;
  top: 85px;
  text-align: center;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-color: #f6f5f5;
}

.App::-webkit-scrollbar{
  display: none;
}


.main-body{
  display: flex;
  position: fixed;
  width: 100%;
}
