html{
  scroll-behavior: smooth;
}

.content {
  position: relative;
  padding-top: 100px;
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-color: #f6f5f5;
}

*::-webkit-scrollbar{
  display: none;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loading-img{
  width: 120px;
}

